.website {
    width: 100%;
    height: 100%;
}

.website .body {
    width: 90%;
    margin: 84px auto 0;
}

.banner a {
    color: var(--color-footer);
}

.banner img {
    z-index: -1;
    image-rendering: pixelated;
}

.banner .show-more {
    position: absolute;
    bottom: 6%;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 138px;
    border: 1px solid #fff;
    border-radius: 42px;
    z-index: 999;
}

.famous-brand {}

.brand-brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-brand {
    color: var(--color);
}

.box-brand img {
    width: 200px;
    height: 127.66px;
}

.box-brand p {
    font-size: 30px;
    text-align: center;
    padding-top: 28px;
}

.button-customize {
    text-align: center;
}

.button-customize button {
    background: none;
    height: 40px;
    width: 36%;
    max-width: 280px;
    color: var(--color);
    border: 1px solid var(--color-border);
    border-radius: 2px;
    font-size: 22px;
}

.button-customize button:hover {
    background-color: #000000;
    color: var(--color-footer);
    transition: 0.25s linear;
}