.website {
    width: 100%;
    height: 100%;
}

.menu {
    width: 100%;
    height: 90px;
    margin: 30px 0 20px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    color: #7e7e7e;
}

.menu .navbar {
    width: 100%;
    max-width: 740px;
    height: 86px;
    padding-left: 64px;
    display: flex;
}

.menu .navbar .nav-img {
    width: 24%;
    height: 100%;
    margin-right: 30px;
}


.menu .navbar a img {
    width: 100%;
    height: 100%;
}

.navbar-btn {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 22px;
    font-weight: 600;
    justify-content: space-between;
    z-index: 9999;
}

.navbar .list-item {
    list-style: none;
    padding-top: 8px;
    height: 36px;
    z-index: -1;
}

.navbar .navbar-btn .list-item:hover {
    border-bottom: 1px solid var(--color);
}

.navbar .list-item a {
    width: 100%;
    text-decoration: none;
    color: var(--color);
}

.list-brand {
    width: 100%;
    background-color: var(--background-color);
    margin-top: 14px;
    padding-bottom: 6px;
    overflow: hidden;
    border-radius: 6px;
    font-weight: 400;
    box-shadow: 4px 4px 8px #7e7e7e;
    display: none;
}

.list-brand::after {
    content: "";
    position: absolute;
    top: 46px;
    width: 15%;
    height: 20px;
}

.navbar .nav-item:hover .list-brand {
    display: block;
}

.list-list {
    list-style: none;
    margin-bottom: 4px;
}

.brand a {
    padding-left: 4px;
}

.brand:hover {
    background-color: #e5e5e5;
}

/* s-s-u */
.s-s-u {
    width: 40%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin-right: 40px;
}

.s-s-u .item {
    margin: 0 18px;
}

.active-input {
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
}

.search-icon {
    z-index: -1;
    position: absolute;
    top: -7px;
    right: 16%;
}

.active-input .search {
    /* display: none; */
    margin-right: 8px;
    font-weight: 300;
    padding-left: 30px;
    font-size: 14px;
    color: rgb(81, 81, 81);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    z-index: 999;
    background-color: rgba(255, 0, 0, 0);
    position: absolute;
    top: -14px;
    left: -26px;
}

.search-active {
    display: none;
}

.search:focus {
    width: 300px;
    outline: 1px solid #d7d7d7;
    border: none;
    position: relative;
    top: 0;
    left: 20px;
}

.search:focus~.search-icon {
    top: 8px;
    right: 0;
}

.search:focus~.search-active {
    position: absolute;
    top: 8px;
    right: calc(100% - 90%);
    display: block;
    z-index: 999;
}

.container {
    width: 100%;
    height: 590px;
    padding: 0;
}

.carousel-indicators .active {
    position: relative;
    top: 5px;
    border: 1px solid #7e7e7e;
    border-radius: 50%;
}

.best-selling {
    width: 100%;
    height: 440px;
    margin-top: 180px;
    /* background-color: var(--background-color-main); */
}

.best-selling-body {
    margin: 0 calc((100% - 90%) / 2);
    width: 90%;
    height: 374px;
}

.box-product {
    width: 228px;
    height: 336px;
    max-width: 237.2px;
    margin: 0 0 24px 18px;
    background-color: #EBEBEB;
    font-size: 14.4px;
}

.box-img {
    width: 100%;
    height: 228px;
}

.box-title {
    padding: 0 10px;
}

.box-header {
    font-size: 14.4px;
    height: 36px;
    max-height: 36px;
    margin-bottom: 10px;
}

.box-price {
    font-size: 12px;
}

.sales {
    float: right;
}

.fa-circle {
    margin: 8px 4px 0 0;
    cursor: pointer;
}

.famous-brand {}

.brand-brand {
    display: flex;
    justify-content: space-around;
}

.box-brand {
    text-decoration: none;
}

.box-brand img {
    width: 200px;
    height: 127.66px;
}

.box-brand p {
    font-size: 30px;
    text-align: center;
    padding-top: 28px;
}

.product-product {
    margin: 0 calc((100% - 90%) / 2);
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 10px;
    max-height: 710px;
    overflow: hidden;
}

.see-more {
    text-align: center;
    margin: 20px 0;
}

.see-more button {
    background: none;
    height: 40px;
    width: 150px;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 8px;
    font-size: 22px;
}

.button-custom {
    text-align: center;
}

.button-custom button {
    background: none;
    height: 40px;
    width: 150px;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 8px;
    font-size: 22px;
}