.website {
    width: 100%;
    height: 100%;
}

.banner a {
    color: var(--color-footer);
}

.banner img {
    z-index: -1;
    image-rendering: pixelated;
}

.banner .show-more {
    position: absolute;
    bottom: 6%;
    margin-left: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 138px;
    border: 1px solid #fff;
    border-radius: 42px;
    z-index: 999;
}

.famous-brand {}

.brand-brand {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box-brand {
    color: var(--color);
}

.box-brand img {
    width: 200px;
    height: 127.66px;
}

.box-brand p {
    font-size: 30px;
    text-align: center;
    padding-top: 28px;
}

.button-custom {
    text-align: center;
}

.button-custom button {
    background: none;
    height: 40px;
    width: 150px;
    color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 8px;
    font-size: 22px;
}

.news-news {
    height: 412px;
    display: flex;
    justify-content: space-between;
}

.box-news {
    width: 274px;
    height: 412px;
    color: var(--color);
    background-color: var(--background-color-main);
    text-decoration: none;
}

.box-news img {
    width: 100%;
    height: 300px;
}

.title-news {
    width: 100%;
    height: 24%;
    padding: 0 10px;
}

.title-news h4 {
    font-size: 14px;
    margin: 8px 0;
}

.title-news p {
    font-size: 12px;
}

.title-mdf {
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}

.title-mdf1 {
    -webkit-line-clamp: 2;
}

/* transport */
.transport {
    margin-top: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.box-transport {
    width: 340px;
    height: 200px;
    cursor: pointer;
}

.box-transport i {
    padding: 16px 0;
    font-size: 26px;
}

.box-transport h4 {
    padding: 16px 0;
    font-size: 20px;
    font-weight: 500;
}

.box-transport p {
    font-size: 12px;
    font-weight: lighter;
}

.footer {
    height: 483px;
    position: relative;
    background-image: url(/img/footer2.jpg);
    background-size: 77%;
    color: var(--color-footer);
}

.title {
    width: 286px;
    height: auto;
    margin-top: 20px;
}

.footer-heading {
    font-size: 20px;
    line-height: 46px;
    color: var(--color-footer);
}

.box-information {
    font-size: 12px;
    margin: 14px 0 0;
}

.box-information p {
    font-size: 14px;
}

.inta,
.mail,
.fb,
.telephone,
.story {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    color: var(--color-footer);
}

.socialNetwork {
    color: var(--color-footer);
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
}

.socialNetwork i {
    margin-right: 8px;
}

.card a img {
    filter: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.footer-bottom {
    display: block;
    position: absolute;
    bottom: 10%;
    left: calc(50% - (224.8px / 2));
}