:root {
    --background-color: #fff;
    --color-item: #EBEBEB;
    --color: #2f2f2f;
    --background-color-main: #f3f3f3;
    --background-color-menu: #fff;
}

* {
    margin: 0;
    padding: 0;
    /* font-family: proxima nova, proxima-nova, Helvetica, Arial, sans-serif; */
    color: var(--color);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.heading {
    padding: 20px 46px 30px;
    font-weight: 600;
    font-size: 24px;
}