:root {
    --background-color: #fff;
    --color-item: #EBEBEB;
    --color: #2f2f2f;
}

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: var(--color);
    box-sizing: border-box;
}