.slick-next,
.slick-prev {
    position: absolute;
    top: 50%;
    height: fit-content;
}

.slick-next::before,
.slick-prev::before {
    font-size: 36px;
    color: var(--background-color-main);
}

.slick-prev {
    left: -46px;
}

.slick-next {
    right: -28px;
}