.slick-next,
.slick-prev {
    position: absolute;
    top: 42%;
}

.slick-next::before,
.slick-prev::before {
    font-size: 36px;
    /* position: absolute; */
    /* top: -48px; */
    color: var(--background-color-main);
    /* background-color: var(--background-color-main); */
}

.slick-prev {
    left: -46px;
}

.slick-next {
    right: -28px;
}


/* 
.slick-next:hover {
    width: 50px;
    position: relative;
    right: 0;
    height: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow: 4px 4px 8px #d9d9d9,
        -4px -4px 8px #ffffff,
        -4px 4px 8px #c9c9c9,
        4px -4px 8px #ffffff;
} */