@media screen and (max-width: 1024px) {
    .menu .navbar {
        flex-direction: column;
        padding-left: 24px;
    }

    .menu .navbar .nav-img {
        max-height: 70%;
        padding-top: 24px;
    }

    .navbar-btn {
        text-align: center;
        width: 100%;
        flex-direction: column;
        display: none;
        height: 1000px;
        top: 60px;
        left: 0;
        position: absolute;
        background-color: var(--background-color);
    }

    .navbar-btn .list-item {
        overflow: unset;
        margin: 20px 0;
    }

    #toggle {
        display: block;
    }

    .list-item-a::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 25%;
        /* display: flex; */
        width: 50%;
        height: 2px;
        background-color: var(--color-border);
    }

    .list-item-a::after {
        display: none;
    }

    .list-brand {
        position: absolute;
        top: -78px;
        left: 0;
        height: 270px;
        box-shadow: none;
        z-index: 1000;
        transform-origin: 50% top;
        overflow: unset;
    }

    .list-item-a .list-brand .list-list a {
        padding: 16px 0;
    }

    .list-list a::after {
        content: '';
        display: block;
        position: relative;
        bottom: 0;
        left: 25%;
        width: 50%;
        height: 2px;
        background-color: var(--color-border);
    }

    .brand-faq {
        top: -242px;
    }

    .navbar .nav-item:hover .list-brand {
        display: block;
    }

    .navbar .item-nav:hover .list-brand {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
    }

    .nav-item::after {
        display: none;
    }
    .s-s-u {
        margin-right: 0;
    }

    .search:focus {
        max-width: 248px;
    }

    .body {
        max-width: 96%;
    }

    .all-filter .filter {
        display: none;
    }

    .left-filter {
        display: none;
    }

    .barsButton {
        display: block;
    }

    .slick-slider
    .slick-next,
    .slick-prev {
        display: none;
        position: absolute;
        left: -100%;
    }

    

    
}

