@media screen and (max-width: 820px) {
    .menu .navbar {
        flex-direction: column;
        padding-left: 24px;
    }

    .menu .navbar .nav-img {
        max-height: 70%;
        width: 40%;
        padding-top: 24px;
    }

    .navbar-btn {
        width: 100%;
        flex-direction: column;
        display: none;
        height: 1000px;
        top: -30px;
        left: 0;
        position: absolute;
        background-color: red;
    }

    .navbar-btn .list-item {
        overflow: unset;
    }

    #toggle {
        display: block;
    }

    .list-item-a::after {
        display: none;
    }

    .nav-item::after {
        display: none;
    }
    .s-s-u {
        margin-right: 0;
    }

    .body {
        max-width: 96%;
    }
}