@media screen and (max-width: 1024px) {
    .menu .navbar {
        flex-direction: column;
        padding-left: 24px;
    }

    .menu .navbar .nav-img {
        max-height: 70%;
        padding-top: 24px;
    }

    .navbar-btn {
        text-align: center;
        width: 100%;
        flex-direction: column;
        display: none;
        height: 1000px;
        top: 60px;
        left: 0;
        position: absolute;
        background-color: var(--background-color);
    }

    .navbar-btn .list-item {
        overflow: unset;
    }

    #toggle {
        display: block;
    }

    .list-item-a::after {
        display: none;
    }

    .list-brand {
        position: absolute;
        top: -44px;
        left: 0;
        /* display: block; */
        box-shadow: none;
        /* z-index: 1000; */
        /* animation: none; */
        transform: unset;
    }

    .navbar .nav-item:hover .list-brand {
        display: block;
    }

    .navbar .item-nav:hover .list-brand {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
    }

    .nav-item::after {
        display: none;
    }
    .s-s-u {
        margin-right: 0;
    }

    .body {
        max-width: 96%;
    }

    .search:focus {
        max-width: 248px;
    }
}